@{
	ViewData["Title"] = "City";
}


<!-- ============================================================== -->
<!-- Start Content here -->
<!-- ============================================================== -->



<div class="page-content">

	<div class="row">
		<div class="col-lg-12">


			<!--begin::Container-->
			<div class="container-fluid">
				<!--begin::Row-->
				<div class="row">
					<!--begin::Col-->
					<div class="col-12">
						<!--begin::Card-->
						<div class="card">

							<!--begin::Card Header-->
							<div class="card-header">
								<!--begin::Card Title-->
								<div class="card-header header-background text-white text-center">
									<h4>City</h4>
								</div>

							</div>


							<!--begin::Card Body-->
							<div class="card-body">

								<form asp-action="Create" method="post">
									<!--begin::Row-->
									<!-- Form -->

									<div class="row">
										<div class="col-lg-12 p-3">

											<!-- Entry Section -->
											<div class="row mb-3">
												<div class="col-md-12">
													<span class="fw-bold">Entry</span>

													<!-- Country Row -->
													<div class="row mb-3">
														<div class="col-md-10 mb-2">
															<label>Country:</label>
															<select class="form-select">
																<option value="0">--Select--</option>
																<option value="1">Sultanate of Oman</option>
																<option value="2">Papua New Guinea</option>
																<option value="3">Ghana</option>
																<option value="4">United Arab Emirates</option>
																<option value="5">Lebanon</option>
															</select>
														</div>
														<div class="col-md-2 d-flex align-items-end mb-2">
															<button type="button" class="btn btn-primary">
																<i class="bi bi-plus"></i>
																Add
															</button>
														</div>
													</div>

													<!-- Region Row -->
													<div class="row mb-3">
														<div class="col-md-10 mb-2">
															<label>Region:</label>
															<select class="form-select">
																<option value="0">--Select--</option>
															</select>
														</div>
														<div class="col-md-2 d-flex align-items-end mb-2">
															<button type="button" class="btn btn-primary">
																<i class="bi bi-plus"></i>
																Add
															</button>
														</div>
													</div>

													<!-- City Row -->
													<div class="row mb-3">
														<div class="col-md-10 mb-2">
															<label>Name of City:</label>
															<input type="text" class="form-control">
														</div>
														<div class="col-md-2 d-flex align-items-end mb-2">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="activeCheck">
																<label class="form-check-label" for="activeCheck">Active</label>
															</div>
														</div>
													</div>
												</div>
											</div>


											<!-- List Section -->
											<div class="row mb-3">
												<div class="col-md-12">
													<span class="fw-bold">List</span>
													<div class="row mb-3">
														<div class="col-md-3">
															<label>Country:</label>
															<select class="form-select">
																<option value="0">--Select--</option>
																<option value="1">Sultanate of Oman</option>
																<option value="2">Papua New Guinea</option>
																<option value="3">Ghana</option>
																<option value="4">United Arab Emirates</option>
																<option value="5">Lebanon</option>
															</select>
														</div>
														<div class="col-md-3">
															<label>Region:</label>
															<select class="form-select">
																<option value="0">--Select--</option>
															</select>
														</div>
														<div class="col-md-2">
															<label>Filter By:</label>
															<select class="form-select">
																<option value="0">All</option>
																<option value="1">Active</option>
																<option value="2">Inactive</option>
															</select>
														</div>
														<div class="col-md-4">
															<label>Search:</label>
															<input type="text" class="form-control" placeholder="Search">
														</div>
													</div>
													<div class="table-responsive" style="max-height: 500px; overflow-x: auto;">
														<select multiple class="form-select" style="height: 250px;"></select>
													</div>
												</div>
											</div>



											<!-- BUTTONS -->
											<div class="text-center mt-4">
												<hr>
												<div class="d-grid gap-2 d-md-flex justify-content-md-end">
													<button type="submit" class="btn btn-primary button-background waves-effect">
														<i class="bi bi-save"></i> Save
													</button>
													<button type="button" class="btn btn-outline-secondary waves-effect" id="clearBtn">
														<i class="bi bi-x-circle"></i> Clear
													</button>
												</div>
											</div>
										</div>
									</div>







									<!--end::Row-->
								</form>
							</div>
							<!--end::Card Body-->

						</div>
						<!--end::Card-->

					</div>
					<!--end::Col-->
				</div>
				<!--end::Row-->
			</div>
			<!--end::Container-->

		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(document).ready(function () {
			// Search functionality
			$("#searchInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("tbody tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				});
			});
		});
	</script>
}